.idea/
.vscode/
.tscache/
/demo/node_modules/
/demo/platforms/
/demo/lib/
node_modules/
.settings/

platforms/ios

*.tar
*.tgz
*.gz
*.zip
*.js
!src/scripts/*.js
package-lock.json

node_modules
.vscode/
*.DS_Store
.idea/
.vscode/
.tscache/
/demo/node_modules/
/demo/platforms/
/demo/hooks/
node_modules/
.settings/